<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>
<BIG>さようなら！</BIG>
<p>
	ご訪問ありがとうございました。
	<a href="/say/hello">こんにちは！</a>と表示します。
</p>
<p>
	<%= link_to "こんにちは！", say_hello_path %>と表示します。
</p>
